<%= form_for [@user, @tweet] do |t| %>


  <%= t.hidden_field :user_id, value: @user.id %>
  <div class="input-field">
    <%= t.label :content %><br>
    <%= t.text_field :content %>
  </div>

  <div class="btn waves-effect waves-light grey">
    <%= t.submit %>
  </div>
<% end %>