<p id="notice"><%= notice %></p>

<div class="container">
  <h1>List of tweets by user</h1>
  <div class="row">
    <div class="col s6">
      <h4><%= @user.firstname + " " + @user.name %></h4>
      <span class="right-align">Follow : <%= @user.following.length %>, Followers : <%= @user.followers.length %></span>
    </div>
    <div class="col s2">
      <%= link_to 'Tweeter', new_user_tweet_path(@user) %>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <% @tweets.each do |tweet| %>
        <div class="col s12">
          <div class="card-panel teal">
            <div class="card-content white-text">
              <div class="card-title">
                <% if @user.img_url != '' %>
                    <img src="<%= path_to_asset("images/"+@user.img_url) %>" alt="" class="circle">
                  <% else %>
                    <img src="<%= path_to_asset("images/ninja.svg") %>" alt="" class="circle">
                <% end %>
                <h5><%= @user.name %> à dit :</h5>
              </div>
              <br>
              <span>
                <%= tweet.content %>
              </span>
            </div>
            <div class="card-action">
              <span class="right">
                <%= distance_of_time_in_words_to_now tweet.created_at %> ago
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col s4">
      <ul class="collection with-header">
        <li class="collapsible-header">Utilisateurs</li>
        <% @users.each do |user| %>
          <% if user.id != @user.id %>
            <li class="collection-item">
              <span><%= user.firstname + " " + user.name %></span>
              <span class="secondary-content">
                <% if @user.follow? user %>
                  <%= link_to user_follow_path(@user, user), remote: true, method: :delete do%>
                    <i class="material-icons">close</i>
                  <% end %>
                <% else %>
                  <%= link_to user_unfollow_path(@user, user), remote: true, method: :post do%>
                    <i class="material-icons">add</i>
                  <% end %>
                <% end %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="collection with-header">
        <li class="collapsible-header">Hashtag populaires</li>
        <% if @hashtags.length > 0 %>
          <% @hashtags.each do |hashtag| %>
            <li class="collection-item"><%= hashtag[0] %></li>
          <% end %>
        <% else %>
            <li class="collection-item">Aucun element à afficher</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>