<p id="notice"><%= notice %></p>

<h1>List of tweets by user</h1>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col s8 offset-l2">
      <div class="card-panel teal">
        <span class="white-text">
          <%= tweet.content %>
        </span>
      </div>
    </div>
  <% end %>
</div>
